h1 {
	font-size: 24px;	
}

h1.bigger {
	font-size: 24px;
}

/* Just for testing! Remove this later. */
div {
	/*border: 1px solid green;*/
    border: 1px dotted blue;
}
/* end testing */


#container {
	width: 1000px;
	margin: 0 auto;  /* flush against top/bottom, but auto L/R */
}

/* this has the logo and menu in it */
#header {
	height: 180px;
    background-color:#ff33ff;
}

#left-col {
	width: 800px;
	float:left;
}
#right-col {
	width:160px;
	float:right;
}

.row {
	clear:both;
}

.menu-item {
	background: black;
	color: lightblue;
	font-size: 24px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 8px 8px;  /* top/down left/right */
	/* text-align:center; */
	margin-bottom: 16px;
	border: none;
}
